<footer>
    <p>
        <a 
            href="https://github.com/ViniElias" 
            target="_blank"
            rel="noopener noreferrer" 
            id="github">
            <i class="fa fa-github" id="github-icon"></i> Meu GitHub
        </a>
    </p>
</footer>
</body>
</html>