<footer>
    <p>
        <a 
            href="https://github.com/ViniElias" 
            target="_blank"
            rel="noopener noreferrer" 
            class="social">
            <i class="fa fa-github" id="github-icon"></i>
        </a>
        <a 
            href="https://linkedin.com/in/vinicius-elias-895332235/" 
            target="_blank"
            rel="noopener noreferrer" 
            class="social">
            <i class="fa fa-linkedin" id="linkedin-icon"></i>
        </a>
        <a 
            href="https://instagram.com/v_eliass/" 
            target="_blank"
            rel="noopener noreferrer" 
            class="social">
            <i class="fa fa-instagram" id="instagram-icon"></i>
        </a>
    </p>
</footer>
</body>
</html>