<%- include('partials/header') %>

<main>
  <h2>Bem-vindo!</h2>
  <p>Meu nome é <%= nome %>, sou programador e atualmente estou cursando Análise e Desenvolvimento de Sistemas. 
    Tenho uma grande paixão por tecnologia, especialmente por tudo que envolve programação e inovação.</p>
  <p>Aqui você encontrará trabalhos desenvolvidos durante minha formação, 
    experiências práticas e ideias que venho explorando ao longo do tempo.</p>
</main>

<%- include('partials/footer') %>