<%- include('partials/header') %>

<main>
  <h2>Bem-vindo ao meu portfólio!</h2>
  <p>Meu nome é <%= nome %> e aqui você encontra meus projetos acadêmicos.</p>
</main>

<%- include('partials/footer') %>