<%- include('partials/header') %>

<main>
  <h2>Projetos</h2>
  <ul>
    <% projetos.forEach(p => { %>
      <li><strong><%= p.nome %></strong>: <%= p.descricao %></li>
    <% }); %>
  </ul>
</main>

<%- include('partials/footer') %>
